@model RenderDesignWeb.ViweModel.Image.ImageViewModel


@{
    Layout = "_LayoutDesigner";
    ViewData["Title"] = "Edit";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a asp-controller="Image" asp-action="Index">Images</a></li>
                    <li class="breadcrumb-item"><a asp-controller="Image" asp-action="Edit">Edit</a></li>
                    <li class="breadcrumb-item active">@ViewData["navigation"]</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<hr />
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header p-2">
                        <h2 class="card-title"><b> Edit Project</b></h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">

                                <form asp-action="Edit" enctype="multipart/form-data">

                                    <div class="row d-flex justify-content-around align-items-center">

                                        <div class="form-group col-lg-6 ">
                                            <label asp-for="ProjectId" class="control-label">ProjectId</label>
                                            <input asp-for="ProjectId" class="form-control" />
                                            <span asp-validation-for="ProjectId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label asp-for="Image" class="control-label"></label>
                                            <input type="file" asp-for="Image" value="Image" class="form-control" />
                                            <span asp-validation-for="Image" class="text-danger"></span>
                                        </div>
                                      
                                    </div>
                                    <div class="form-group text-center">
                                        <input type="submit" value="Save" class="btn btn-success" />

                                        <a class="btn btn-dark" asp-action="Index">Back to List</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




