@model RenderDesignWeb.ViweModel.Contact.ContactRequestsViewModel;
@{
    Layout = "_Layout";
    ViewData["Title"] = "ContacUs";
}
<link href="~/css/ContactUs.css" rel="stylesheet" />
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link href="StyleSheet.css" rel="stylesheet" />
<title>Contact Us page</title>

<body>
    <div class="out">
        <div class="in">
            <div>
                <h2 class="text-center mb-5 shadow-sm p-3">Contact Us...</h2>
            </div>

            <div class="row">
                <form asp-controller="ContactRequests" asp-action="Create">
                    <div class="col md-7 shadow-sm rounded p-5">

                        <div class="row">
                            <div class="col mb-3">
                                <label class="form-label">First Name</label>
                                <input type="text" asp-for="Name" class="form-control" placeholder="First_Name" />
                            </div>


                        </div>

                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="text" asp-for="Email" class="form-control" placeholder="name@email.com" />
                        </div>

                        <div class="col mb-3">
                            <label class="form-label">Phone Number</label>
                            <input type="text" asp-for="Phone" class="form-control" placeholder="(optional)" />
                        </div>
                        <div class=" mb-3">
                            <label class="form-label">Message</label>
                            <textarea class="form-control" asp-for="Subject" placeholder="write your message here..." rows="3"></textarea>
                        </div>


                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            send
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">codebreaker</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        we recived your message
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">send</button>
                                        <input type="submit" value="Submit">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    </form>
                    <div class="col md-5 bg-light">
                        <br />
                        <div class="shadow p-3 mb-5 bg-body rounded">
                            <pre><svg xmlns="http://www.w3.org/2000/svg" width="40" height="25" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                        </svg> +962-79-88-66-891
                    </pre>
                            <pre><svg xmlns="http://www.w3.org/2000/svg" width="40" height="25" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                            <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z" />
                       </svg> renderdesign@gmail.com
                   </pre>
                            <pre><svg xmlns="http://www.w3.org/2000/svg" width="40" height="25" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
                       </svg>Render Design
                   </pre>
                        </div><br /><br />
                        <h2 class="text-center">Our goal is to make your search easier</h2>
                    </div>
            </div>




        </div>

    </div>






</body>
</html>
