@model RenderDesignWeb.ViweModel.Contact.ContactRequestsViewModel;
@{
    Layout = "_Layout";
    ViewData["Title"] = "ContacUs";
}
<link href="~/css/ContactUs.css" rel="stylesheet" />
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link href="StyleSheet.css" rel="stylesheet" />
<title>Contact Us page</title>

<body>
   
            <div class="header">
                <h2>CONTACT US</h2>
                <hr />
            </div>
            <div style="margin:20px auto" class="social row d-flex">

                <div class="col-lg-3 col-md-6 align-items-stretch">

                    <i class="fa fa-facebook-official" aria-hidden="true" style="color:black"></i>
                    <p>Facebook</p>
                    <a href="#">
                        Render design

                    </a>
                  

                </div>
                <div class="col-lg-3 col-md-6 align-items-stretch">

                    <i class="fa fa-instagram" aria-hidden="true" style="color:black"></i>
                    <p>Instagram</p>
                    <a href="#">
                        RenderDesign.Jo
                    </a>
                  

                </div>
                <div class="col-lg-3 col-md-6  align-items-stretch">
                    <i class="fa fa-phone-square" aria-hidden="true" style="color:black"></i>
                    <p>Phone</p>
                    <a href="#">
                        +962328745679
                    </a>
                   

                </div>
                <div class="col-lg-3 col-md-6 align-items-stretch">
                    <i class="fa fa-envelope" aria-hidden="true" style="color:black"></i>
                    <p>Email</p>
                    <a href="#">
                        Render.design
                    </a>
                   

                </div>
            </div>

            <div class="">
                <form asp-controller="home" asp-action="ContactUs">
                    <div style="width:50%;margin:20px auto" class="col md-7  rounded p-5">

                        <div class="row">
                            <div class="col mb-3">
                                <label class="form-label">First Name</label>
                                <input type="text" asp-for="Name" class="form-control" placeholder="First_Name" />
                            </div>


                        </div>

                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="text" asp-for="Email" class="form-control" placeholder="name@email.com" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Phone Number</label>
                            <input type="text" asp-for="Phone" class="form-control" placeholder="(optional)" />
                        </div>
                        <div class=" mb-3">
                            <label class="form-label">Message</label>
                            <textarea class="form-control" asp-for="Subject" placeholder="write your message here..." rows="3"></textarea>
                        </div>


                        <!-- Button trigger modal -->
                        <button type="submit" class="btn btn-primary" @*data-bs-toggle="modal" data-bs-target="#exampleModal"*@>
                            send
                        </button>

                        <!-- Modal -->
                        @*<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">codebreaker</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    we recived your message
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">send</button>
                                    <input type="submit" value="Submit">
                                </div>
                            </div>
                        </div>
                    </div>*@

                    </div>
                </form>
  
            </div>









</body>

