@model RenderDesignWeb.ViweModel.Home.HomeListViewModel;

@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}
<link href="~/css/Projects.css" rel="stylesheet" />
<head>

</head>
<body>
    <div class="header">
        @foreach (var elem in Model.Projects)
        {
            <h2>All Project</h2>
            <hr />
            break;
        }
    </div>
 
    <div class="choose-type mt-5 d-flex justify-content-around">
        <div class="type-">
            <input type="radio" name="type1" />
            <label class="mr-4">Commercial</label>
            
            <input type="radio" name="type1" />
            <label class="mr-4">Residential</label>
            <input type="radio" name="type1" />
            <label class="mr-4">Landscape</label>
        </div>
        <div class="serch">
            <label>search by company :</label>
           
            <input type="search" />
        </div>
    </div>
    <div class="Projects row d-flex justify-content-around align-items-center">
        @foreach (var elem in Model.Projects)
        {
            <div class="single-products-catagory col-md-6 col-lg-4 col-12" style="height:300px;">

                <a asp-controller="Home" asp-action="Project" asp-route-id="@elem.Id">

                    <img src="~/@elem.FirstImage" />

                    <div class="hover-content">
                        <h4 style="color:antiquewhite">@elem.Name</h4>
                        <div class="line"></div>
                    </div>

                </a>
            </div>


        }
    </div>
</body>
