@model RenderDesignWeb.ViweModel.Home.HomeListViewModel;

@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}
<link href="~/css/Projects.css" rel="stylesheet" />
<head>
    <style>
        .Checkboxtype input{
            height:17px;
            width:17px;
        }
        .Checkboxtype label{
            font-size:20px;
            font-weight:500;
        }
        .serch label {
            font-size: 20px;
            font-weight: 500;
        }
    </style>
</head>
<body>
    <div class="header">
        @foreach (var elem in Model.Projects)
        {
            <h2>All Project</h2>
            <hr />
            break;
        }
    </div>

    <div class="choose-type mt-5 d-flex justify-content-around">
        <div class="type-">
            <div class="Checkboxtype" id="CheckboxContainerId">
                <input type="radio" name="type" value="allproject" />
                <label class="mr-4">All Project</label>

                <input type="radio" name="type" value="Commercial" />
                <label class="mr-4">Commercial</label>

                <input type="radio" name="type" value="Residential" />
                <label class="mr-4">Residential</label>
                <input type="radio" name="type" value="Landscape" />
                <label class="mr-4">Landscape</label>
            </div>
        </div>
        <div class="serch">

            <label>search by company :</label>
            <select asp-items="@ViewBag.designers.Items" id="name" onChange="update()">
            </select>
        </div>
    </div>
    <div class="Projects row d-flex justify-content-around align-items-center">
        @foreach (var elem in Model.Projects)
        {
            <div class="single-products-catagory col-md-6 col-lg-4 col-12" style="height:300px;">

                <a asp-controller="Home" asp-action="Project" asp-route-id="@elem.Id">

                    <img src="~/@elem.FirstImage" />

                    <div class="hover-content">
                        <h4 style="color:antiquewhite">@elem.Name</h4>
                        <div class="line"></div>
                    </div>

                </a>
            </div>


        }
    </div>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
<script>
    $('#CheckboxContainerId input:radio').click(function () {
        if ($(this).val() === 'Commercial') {
            location.href = "/Home/Projects?type=Commercial";
        } else if ($(this).val() === 'Residential') {
            location.href = "/Home/Projects?type=Residential";
        } else if ($(this).val() === 'Landscape') {
            location.href = "/Home/Projects?type=Landscape";
        }
        else if ($(this).val() === 'allproject') {
            location.href = "/Home/Projects";
        }
    });
    function update() {
        var select = document.getElementById('name');
        var option = select.options[select.selectedIndex];
        location.href = "/Home/Projects?name=" + option.value;
    }
    
</script>
